# JSON
accounts.json
credentials.json
token.json

# Server files
**/instance


# Archives
**/ARCHIVE

# pycache
**/__pycache__

# Tests
**/TESTS

# .env
.env
.venv

# Assets
**/ASSETS

# vscode
.vscode

# MISC


