**/TEST
**/venv
**/__pycache__
.env
token.json
credentials.json
**/Node.js
**/Django
**/DATA
**/ASSETS
**/__init__.py
.vscode
**/internal_info.txt
**/internal_info.docx
**/~$ternal_info.docx
**/info.md